<div class="container">
  <div class="row justify-content-around">
    <div class="col-5">
      <form [formGroup]="uploadForm">
        <!-- Select File -->
        <div>
          <h4>New Publication</h4>
          <input
            class="form-control form-control-lg border1"
            type="file"
            accept="image/*"
            (change)="showPreview($event)"
          />
        </div>

        <!-- Image Preview -->
        <div class="imagePreview" *ngIf="imageToShow && imageToShow !== ''">
          <img
            [src]="imageToShow"
            [alt]="uploadForm.value.name"
            class="photo"
          />
        </div>
      </form>
    </div>

    <div class="col-5 text-left">
      <div class="margin-top">
        <form
          [formGroup]="form"
          (change)="handleChange()"
          *ngIf="imageToShow && imageToShow !== ''"
          (ngSubmit)="submit()"
        >
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              value="no"
              formControlName="filter"
              checked
            />
            <label class="form-check-label" for="flexRadioDefault2">
              <b>No Filters</b>
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              value="bw"
              formControlName="filter"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              <b> Black & White </b>
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              value="gs"
              formControlName="filter"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              <b> Gray Scale </b>
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              value="invert"
              formControlName="filter"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              <b> Invert </b>
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              value="paint"
              formControlName="filter"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              <b> Painting Effect </b>
            </label>
          </div>
          <input
            class="form-control"
            formControlName="title"
            placeholder="Enter Image Title"
          />
          <div class="text-left">
            <div class="btn-left">
              <button class="btn btn-primary" type="submit()">
                Public Image
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
