<div class="container">
  <div class="row">
      <div class="col-md-6 offset-md-3 mt-4">
          <h3>Register</h3>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">

              <div class="form-group">
                <label for="registerUsername">Username</label>
                <input 
                  type="text"
                  formControlName="username"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': f.username.errors }"
                >
              </div>

              <div *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)"
              class="alert">

                <div *ngIf="f.username.errors?.required" style="color: red;">
                  <i class="fas fa-exclamation-circle"></i> Username is required.
                </div>

                <div *ngIf="f.username.errors?.minlength" style="color: red;">
                  <i class="fas fa-exclamation-circle"></i> Username must be at least 3 characters long.
                </div>

                <div *ngIf="f.username.errors?.maxlength" style="color: red;">
                  <i class="fas fa-exclamation-circle"></i> Username is too long.
                </div>

              </div>

              <div class="form-group">
                  <label for="registerName">Name</label>
                  <input 
                    type="text"
                    formControlName="name"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': f.name.errors }"
                  >
              </div>

              <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
              class="alert">

                <div *ngIf="f.name.errors?.required" style="color: red;">
                  <i class="fas fa-exclamation-circle"></i> Name is required.
                </div>

                <div *ngIf="f.name.errors?.minlength" style="color: red;">
                  <i class="fas fa-exclamation-circle"></i> Name must be at least 3 characters long.
                </div>

                <div *ngIf="f.name.errors?.maxlength" style="color: red;">
                  <i class="fas fa-exclamation-circle"></i> Name is too long.
                </div>

              </div>

              <div class="form-group">
                <label for="registerPassword">Password</label>
                <input 
                  type="password"
                  formControlName="password"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': f.password.errors }"
                >
              </div>

              
              <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)"
              class="alert">

                <div *ngIf="f.password.errors?.required" style="color: red;">
                  <i class="fas fa-exclamation-circle"></i> Password is required.
                </div>

                <div *ngIf="f.password.errors?.minlength" style="color: red;">
                  <i class="fas fa-exclamation-circle"></i> Password must be at least 5 characters long.
                </div>

                <div *ngIf="f.password.errors?.maxlength" style="color: red;">
                  <i class="fas fa-exclamation-circle"></i> Password is too long.
                </div>

              </div>

              <div class="form-group">
                <label for="confirmPassword">Password confirmation</label>
                <input 
                  type="password"
                  formControlName="confirmPassword"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': f.confirmPassword.errors }"
                >
              </div>

              <div *ngIf="f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched)"
              class="alert">

                <div *ngIf="f.confirmPassword.errors?.required" style="color: red;">
                  <i class="fas fa-exclamation-circle"></i> Password confirmation is required.
                </div>

                <div *ngIf="f.confirmPassword.errors?.matching" style="color: red;">
                  <i class="fas fa-exclamation-circle"></i> Password and password confirmation must match.
                </div>

              </div>
            
              <button type="submit"  [disabled]="form.invalid" class="btn btn-primary">Register <i class="fas fa-user-edit"></i></button>
              
        </form>

          

      </div>
  </div>
</div>