.container{
    width: 1141.8px;
}

.margin-top{
    margin-top: 30px;
}

.overflow-auto{
    height: 450px;
    overflow: scroll;
}

.card-body{
    padding: 0;
}

.card-text{
    margin-bottom: 5px;
}


textarea {
    resize: none;
    margin-bottom: 5px;
    max-width: 400px;
    max-height: 250px;
}

.avatar {
    margin-top: 15px;
    border-width: 2px;
}