
  <div class="container">
  <div class="row justify-content-center ">
    <div class="col-8">
    <form [formGroup]="myForm" (ngSubmit)="submit()">
     
      <div>
        <h4>Avatar Edit</h4>
        <input class="form-control form-control-lg border1" type="file" accept="image/*" (change)="imagePreview($event)">
      </div>

      <div *ngIf="filePath && filePath !== ''">
        <img [src]="filePath" [alt]="myForm.value.name" class="avatar" />
      </div>

      <div *ngIf="filePath && filePath !== ''">
        <button type="submit" class="btn btn-primary">Update Avatar</button>
      </div>
    </form>
  </div>
</div>
</div>

