@import "~@angular/cdk/overlay-prebuilt.css";

.form-group,
.form-row > .col,
.form-row > [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 15px;
}

.form-row {
  margin: 0;
}

.form-control.ng-valid {
  border-left: 5px solid #42a948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

.overlay {
  margin-left: 30%;
  margin-top: 5%;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 5px;
  background: lightgray;
  text-align: center;
  padding: 10px;
}

.overlay-new-image {
  margin-left: 20%;
  margin-top: 5%;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 5px;
  background: lightgray;
  text-align: center;
  padding: 10px;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 30px;
  border: 5px solid rgb(43, 43, 43);
  background-color: white;
}

.center-text {
  text-align: center;
}

.gray-text {
  color: rgb(95, 95, 95);
}

.left {
  background-color: lightgray;
  border-right: 3px solid black;
}

.right {
  background-color: lightgray;
  border-left: 3px solid black;
}

.position-fixed {
  margin-left: 25px;
}

.photo {
  display: block;
  width: 450px;
  height: 450px;
  border: 5px solid rgb(43, 43, 43);
}

.photo-detail {
  display: block;
  width: 540px;
  height: 540px;
  border: 5px solid rgb(43, 43, 43);
  margin: 40px;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  margin-right: 200px;
  margin-left: 75px;
  margin-top: 50px;
}

.litte-avatar {
  display: block;
  margin-top: 3px;
  margin-left: 6px;
  margin-bottom:3px;
  border-radius: 50%;
  border: 1px solid rgb(43, 43, 43);
  background-color: white;
}

.btn-left{
  text-align: left;
  margin-bottom: 5px;
}

.btn-right{
  text-align: right;
}

.close-top-left{
  text-align: top;
  text-align: left;
}